# Dependencies
backend/node_modules/

# Environment configurations
backend/.env
backend/.env.local
backend/.env.*.local

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*

# Diagnostic reports
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
backend/pids
backend/*.pid
backend/*.seed
backend/*.pid.lock

# OS and IDE configuration files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?